# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
logs/*.log

# Large / generated data (uncomment if you don't want to version raw data)
# data/raw/*
# data/processed/*

# Power BI temp files
*.pbix.lock
